//VARIABLES
$color-background: #f2f2f2;
$color-area: #fff;
$color-text: #0d0d0d;
$color-price: #00b99b;
$color-price2:#676767;
$color-button: #ff7731;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}